<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: pageHead('Available Books')}"></head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>

<div class="container my-5 col-md-8">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b :${book}">
            <td th:text="${b.name}"></td>
            <td th:text="${b.author}"></td>
            <td th:text="${b.price}"></td>
            <td class="table-actions">
                <form th:action="@{/mylist/{id}(id=${b.id})}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-secondary btn-sm">Add To My books</button>
                </form>
                <a style="color:blue" th:href="@{/editBook/{id}(id=${b.id})}" sec:authorize="hasRole('LIBRARIAN')">
                    <i class="fa-solid fa-pen-to-square ms-4"></i>
                </a>
                <form th:action="@{/deleteBook/{id}(id=${b.id})}" method="post" class="d-inline"
                      sec:authorize="hasRole('LIBRARIAN')"
                      onsubmit="return confirm('Delete this book? This cannot be undone.');">
                    <button type="submit" class="btn btn-link p-0 ms-4" style="color:red;">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>