<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: pageHead('Available Books')}"></head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>

<div class="container my-5 col-md-8">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b :${book}">
            <td th:text="${b.name}"></td>
            <td th:text="${b.author}"></td>
            <td th:text="${b.price}"></td>
            <td class="table-actions">
                <a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}">Add To My books</a>
                <a style="color:blue" th:href="@{/editBook/{id}(id=${b.id})}" sec:authorize="hasRole('LIBRARIAN')">
                    <i class="fa-solid fa-pen-to-square ms-4"></i>
                </a>
                <a style="color:red" th:href="@{/deleteBook/{id}(id=${b.id})}" sec:authorize="hasRole('LIBRARIAN')"
                   onclick="return confirm('Delete this book? This cannot be undone.');">
                    <i class="fa-solid fa-trash ms-4"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
