<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Home')}"></head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>

<div class="container text-center hero">
    <h1>Welcome to BookStore</h1>
    <h6>
        I hope you find what you are looking for in here.
        This bookstore contains some random books I found interesting and unique;
        if you are a bookworm then have a good read and keep it up!
        Have a good time here!
    </h6>
    <img src="/bg.jpg" height="410" width="728" alt="a Library section"/>
    <div>
        <a href="/login" class="btn btn-primary" sec:authorize="isAnonymous()">Login</a>
        <a href="/available_books" class="btn btn-primary" sec:authorize="isAuthenticated()">Browse Books</a>
    </div>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>