<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('My Books')}"></head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>

<div class="container my-5 col-md-8">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b :${book}">
            <td th:text="${b.name}"></td>
            <td th:text="${b.author}"></td>
            <td th:text="${b.price}"></td>
            <td>
                <a style="color:red" th:href="@{/deleteMyBook/{id}(id=${b.id})}"
                   onclick="return confirm('Remove this book from your list?');">
                    <i class="btn-sm fa-solid fa-trash ms-4"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>